<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Kotak Mahindra Bank">
    <meta name="keywords" content="Kotak Mahindra Bank">
    <title>Kotak Mahindra Bank</title>   
   
    <!-- Site favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='~/Audit_assets/images/kotak_favicon.ico' />
    <!-- /site favicon -->
    <!-- Font Material stylesheet -->
    <link rel="stylesheet" href="~/Audit_assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    
    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="~/Audit_assets/css/jumbo-bootstrap.css">
    
    <!-- Perfect Scrollbar stylesheet -->
    <link href="~/Audit_assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    
    <!-- kotak-core stylesheet -->
    <link href="~/Audit_assets/css/kotak-core.min.css" rel="stylesheet"/>
    
    <!-- Color-Theme stylesheet -->
    <link id="override-css-id" href="~/Audit_assets/css/theme-dark-indigo.css" rel="stylesheet">
    
    <!-- Custom stylesheet -->
    <link href="~/dashboard_assets/css/user_style.css" rel="stylesheet" />
    <style>
        a {
            all: unset;
        }
        a {
            cursor: pointer;
        }
        .bg:hover {
            color: darkblue !important;
        }
    </style>
   
</head>
<body id="body" data-theme="dark-indigo">
    <!-- Loader Backdrop -->
    <div class="loader-backdrop">
        <!-- Loader -->
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
        <!-- /loader-->
    </div>
    <!-- loader backdrop -->
    <!-- Page container -->
    <div class="gx-container">
        <!-- Page Sidebar -->
        <div id="menu" class="side-nav gx-sidebar">
            <div class="navbar-expand-lg">
                <!-- Sidebar header  -->
                <div class="sidebar-header">
                    <div class="user-profile">
                        <img class="img-responsive logo_side_bar" alt="Kotak_Logo" src="~/Audit_assets/images/logo_side_bar.png">
                    </div>
                </div>
                <!-- /sidebar header -->
                <!-- Main navigation -->
                <div id="main-menu" class="main-menu navbar-collapse collapse">
                    <ul class="nav-menu">
                        <li class="menu no-arrow selected">
                            <a href="/Home/Dashboard/">
                                <span class="nav-text">Dashboard Success Report</span>
                            </a>
                        </li>
                        <li class="menu no-arrow">
                            <a href="/Home/Dashboard_Failure/">
                                <span class="nav-text">Dashboard Failure Report</span>
                            </a>
                        </li>
                        <li class="menu no-arrow">
                            <a href="/Home/Index/">
                                <span class="nav-text">Audit Log</span>
                            </a>
                        </li>
                        <li class="menu no-arrow">
                            <a href="/Home/Clearcrn/">
                                <span class="nav-text">Clear CRN</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- /main navigation -->
            </div>
        </div>
        <!-- /page sidebar -->
        <!-- Main Container -->
        <div class="gx-main-container">
            <!-- Main Header -->
            <header class="main-header">
                <div class="gx-toolbar">
                    <div class="sidebar-mobile-menu d-block d-lg-none">
                        <a class="gx-menu-icon menu-toggle" href="#menu">
                            <span class="menu-icon"></span>
                        </a>
                    </div>
                    <ul class="quick-menu header-notifications ml-auto">
                        <li class="dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" class="d-inline-block" aria-expanded="true">
                                <div class="user-thumb">
                                    <img alt="My Profile Image" src="~/Audit_assets/images/domnic-brown.jpg"
                                         class="rounded-circle size-40 user-avatar"><i class="fa fa-angle-down fa_Size"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" data-placement="bottom-end" data-x-out-of-boundaries="">
                                <div class="dropdown-menu-perfectscrollbar1">
                                    <div class="messages-list">
                                        <ul class="list-unstyled">
                                            <li class="media">
                                                <div class="user-thumb">
                                                    <i class="fa fa-lock fa_color"></i>
                                                </div>
                                                <div class="media-body">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h4 class="text-capitalize user-name mb-0">
                                                            <button id="logout_btn">Logout</button>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <!-- /main header -->
            <div class="kotak-main-content">
                <div class="content">
                    <div class="container-fluid">
                        <div class="top_header">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-xs-12 col-md-8 col-lg-8 col-xl-8 text-left">
                                    <h1>Kotak Facial Recognition Dashboard Success Report</h1>
                                </div>
                                <div class="col-12 col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 text-left">
                                    <h2>LAST REPORTED</h2>
                                    <p id="LatestUpdate">@ViewBag.latest_update</p>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="from_date_value" name="from_date_value" value="@ViewBag.f" />
                        <input type="hidden" id="to_date_value" name="to_date_value" value="@ViewBag.t" />
                        <div class="top_header">
                            @*<form action="@Url.Action("Dashboard")" method="POST">*@
                            <form id="Dashboard">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-xs-12 col-md-1 col-lg-1 col-xl-1 text-left">
                                        <label class="db_filter_label">From</label>
                                    </div>
                                    <div class="col-12 col-sm-12 col-xs-12 col-md-3 col-lg-3 col-xl-3 text-left">
                                        <input type="date" class="form-control db_filter_control" placeholder="From Date" id="from_date_filter" name="f" />
                                        <!--<input type="date" class="text_font form-control" id="from_date_filter" name="f" onchange="FDate('from_date_filter')">-->
                                    </div>
                                    <div class="col-12 col-sm-12 col-xs-12 col-md-1 col-lg-1 col-xl-1 text-left">
                                        <label class="db_filter_label">To</label>
                                    </div>
                                    <div class="col-12 col-sm-12 col-xs-12 col-md-3 col-lg-3 col-xl-3 text-left">
                                        <input type="date" class="form-control db_filter_control" placeholder="To Date" id="to_date_filter" name="t" />
                                        <!--<input type="date" class="text_font form-control" id="to_date_filter" name="t" onchange="TDate('to_date_filter')">-->
                                    </div>
                                    <div class="col-12 col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 text-left">
                                        <div class="btn-toolbar mt-3" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="submit" class="btn btn-primary form-control db_filter_control" id="submit_btn" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Loading..">Submit</button>
                                            </div>
                                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                                <button type="button" class="btn btn-primary form-control db_filter_control" id="reset_btn">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="top_header">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 text-left">
                                    <h1 class="db_header db_text_green">Registrations</h1>
                                </div>
                            </div>
                        </div>
                        <div class="top_header">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th class="db_header db_text_red"><a class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=1&resultsid=1&channelid=0')">Total</a></th>
                                                <th class="db_header db_text_blue db_cell_width"><a class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=1&resultsid=1&channelid=3')">Net Banking</a></th>
                                                <th class="db_header db_text_green db_cell_width"><a class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=1&resultsid=1&channelid=1')">Mobile-Android</a></th>
                                                <th class="db_header db_text_red_light db_cell_width"><a class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=1&resultsid=1&channelid=2')">Mobile-IOS</a></th>
                                                <th class="db_header db_text_grey"><a class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=1&resultsid=1&channelid=4')">Branch</a></th>
                                                <th class="db_header db_text_pink">Drop Offs</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="db_content db_text_red"><a id="TotalReg" class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=1&resultsid=1&channelid=0')">@ViewBag.total_reg</a></td>
                                                <td class="db_content db_text_blue"><a id="NetbankingReg" class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=1&resultsid=1&channelid=3')">@ViewBag.netbanking_reg</a></td>
                                                <td class="db_content db_text_green"><a id="MobileRegAndroid" class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=1&resultsid=1&channelid=1')">@ViewBag.mobile_reg_Android</a></td>
                                                <td class="db_content db_text_red_light"><a id="MobileRegIOS" class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=1&resultsid=1&channelid=2')">@ViewBag.mobile_reg_IOS</a></td>
                                                <td class="db_content db_text_grey"><a id="BranchReg" class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=1&resultsid=1&channelid=4')">@ViewBag.branch_reg</a></td>
                                                <td class="db_content db_text_pink" id="RegDropOffs">@ViewBag.reg_drop_offs</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="top_header">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 text-left">
                                    <h1 class="db_header db_text_green">Verifications</h1>
                                </div>
                            </div>
                        </div>
                        <div class="top_header">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th class="db_header db_text_red"><a class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=2&resultsid=1&channelid=0')">Total</a></th>
                                                <th class="db_header db_text_blue db_cell_width"><a class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=2&resultsid=1&channelid=3')">Net Banking</a></th>
                                                <th class="db_header db_text_green db_cell_width"><a class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=2&resultsid=1&channelid=1')">Mobile-Android</a></th>
                                                <th class="db_header db_text_red_light db_cell_width"><a class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=2&resultsid=1&channelid=2')">Mobile-IOS</a></th>
                                                <th class="db_header db_text_grey"><a class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=2&resultsid=1&channelid=4')">Branch</a></th>
                                                <th class="db_header db_text_pink">Drop Offs</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="db_content db_text_red"><a id="TotalVer" class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=2&resultsid=1&channelid=0')">@ViewBag.total_ver</a></td>
                                                <td class="db_content db_text_blue"><a id="NetbankingVer" class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=2&resultsid=1&channelid=3')">@ViewBag.netbanking_ver</a></td>
                                                <td class="db_content db_text_green"><a id="MobileVerAndroid" class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=2&resultsid=1&channelid=1')">@ViewBag.mobile_ver_Android</a></td>
                                                <td class="db_content db_text_red_light"><a id="MobileVerIOS" class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=2&resultsid=1&channelid=2')">@ViewBag.mobile_ver_IOS</a></td>
                                                <td class="db_content db_text_grey"><a id="BranchVer" class="bg" onclick="doCall('/Home/DashboardSpecificResult?event_id=2&resultsid=1&channelid=4')">@ViewBag.branch_ver</a></td>
                                                <td class="db_content db_text_pink" id="VeriDropOffs">@ViewBag.veri_drop_offs</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="top_header">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 text-left">
                                    <h1 class="db_header db_text_green">Gate Failures</h1>
                                </div>
                            </div>
                        </div>
                        <div class="top_header">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th class="db_header db_text_red">Gate 1</th>
                                                <th class="db_header db_text_blue db_cell_width">Gate 2</th>
                                                <th class="db_header db_text_green db_cell_width">Gate 3</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="db_content db_text_red" id="Gate1Failure">@ViewBag.gate_1_failure</td>
                                                <td class="db_content db_text_blue" id="Gate2Failure">@ViewBag.gate_2_failure</td>
                                                <td class="db_content db_text_green" id="Gate3Failure">@ViewBag.gate_3_failure</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <footer class="gx-footer page_header">
                            <div class="d-flex flex-row justify-content-between">
                                <p> Copyright Kotak Mahindra Bank Limited. © 2019</p>
                            </div>
                        </footer>
                    </div>

                </div>
            </div>
        </div>
        <!-- /main container -->
    </div>
    <!-- /page container -->
    <!-- Menu Backdrop -->
    <!-- Menu Backdrop -->
    <div class="menu-backdrop fade"></div>
    <div id="alert_popup_div"></div>
    <!-- /menu backdrop -->
    <!--Load JQuery-->
    <script src="~/Audit_assets/node_modules/jquery/dist/jquery.min.js"></script>
    <!--Bootstrap JQuery-->
    <script src="~/Audit_assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--Perfect Scrollbar JQuery-->
    <script src="~/Audit_assets/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!--Big Slide JQuery-->
    <script src="~/Audit_assets/node_modules/bigslide/dist/bigSlide.min.js"></script>
    <!--Dashboard JS-->    
    <script src="~/dashboard_assets/js/dashboardEvent.js"></script>
    <script src="~/dashboard_assets/js/functions.js"></script>
    <!--JS Common functions-->
    <script src="~/dashboard_assets/js/js_common_functions.js"></script>    
</body>
</html>